<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
  <link rel="stylesheet" href="./css/styles.css" />
  <link rel="icon" href="/images/weather.png" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <div class="img-holder">
      <img class="portait" src="/images/dev-photo.jpeg" alt="Dev Photo">
    </div>
    <p>Hi, I am Mahmoud Bekheit. Working as a web developer helping businesses build web products using powerful technologies such as React, NodeJS, WordPress, and more.</p>
  </div>

  {{>footer}}

  
</body>

</html>