<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/images/weather.png" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>If you'd like to keep in touch with me, kindly send me an email anytime. Email: <a href="mailto:mlartwel@gmail.com">mlartwel@gmail.com</a></p>
  </div>
    {{>footer}}
</body>

</html>