<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather App</title>
  <link rel="stylesheet" href="./css/styles.css" />
  <link rel="icon" href="/images/weather.png" />
</head>

<body>
  <div class="main-content">
    {{>header}}

    <form id="weather-form" action="">
      <input id="address-input" placeholder="Enter Location" type="text">
      <button type="submit">Search</button>
    </form>

    <div>
      <p class="loading-note"></p>
      <p class="forecast-info"></p>
    </div>

  </div>

  {{>footer}}

  <script src="./js/main.js"></script>
</body>

</html>